<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "/header.html">
    <style>
        input[type=file] {
             display: none;
        }
        .el-upload__input {
            display: none;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <el-upload
            class="upload-demo"
            action="http://localhost:8082/upload/api"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :file-list="fileList"
            list-type="picture">
        <el-button size="small" type="primary">点击上传</el-button>
        <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
    </el-upload>
</div>
<script src="${request.contextPath}/statics/js/modules/upload/upload.js?_${.now?long}"></script>
</body>
</html>