<!DOCTYPE html>
<html>
<head>
    <title>erp订单信息表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div >
            <el-button  type="primary" @click="add" plain size="small" icon="el-icon-circle-plus">新增</el-button>
            <el-input placeholder="订单号" size="small" clearable  v-model.trim="q.orderNo" style="width:180px" @keyup.enter.native="query">
            </el-input>
            <el-input placeholder="客户名称" size="small" clearable  v-model.trim="q.memberName" style="width:180px" @keyup.enter.native="query">
            </el-input>
            <el-input placeholder="支付方式" size="small" clearable  v-model.trim="q.payment" style="width:180px" @keyup.enter.native="query">
            </el-input>
            <el-date-picker
                    size="small"
                    style="width: 300px"
                    v-model="q.createTime"
                    type="daterange"
                    align="right"
                    value-format="yyyy-MM-dd"
                    unlink-panels
                    start-placeholder="开始日期"
                    end-placeholder="结束日期">
            </el-date-picker>
            <el-button  type="primary" @click="query" plain size="small" icon="el-icon-search">查询</el-button>
            <el-button  type="primary" @click="reset"  plain size="small" icon="el-icon-refresh">重置</el-button>
        </div>

        <!--订单列表-->
        <el-table size="mini" :data="orderData"
                  ref="orderTable"
                  highlight-current-row
                  :header-cell-style="{'text-align':'center'}"
                  :cell-style="{'text-align':'center'}"
                  border style="width: 99%;margin-top: 20px">
            <el-table-column type="index" label="序号"></el-table-column>
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column type="expand">
                <template slot-scope="props" >
                    <el-table
                            size="small"
                            :data="props.row.orderItemList"
                            style="width: 100%">
                        <el-table-column
                                type="index"
                                width="50"
                                label="序号">
                        </el-table-column>
                        <el-table-column label="商品编号" prop="skuId" ></el-table-column>
                        <el-table-column label="图片"    prop="goodsImgUrl">
                            <!-- 图片的显示 -->
                            <template slot-scope="scope">
                                <el-popover
                                        placement="right"
                                        title=""
                                        trigger="hover">
                                    <img :src="scope.row.goodsImgUrl"/>
                                    <img slot="reference" :src="scope.row.goodsImgUrl" :alt="scope.row.goodsImgUrl" style="max-height: 50px;max-width: 130px">
                                </el-popover>
                            </template>
                        </el-table-column>
                        <el-table-column label="单价"    prop="price"></el-table-column>
                        <el-table-column label="数量"    prop="quantity"></el-table-column>
                        <el-table-column label="总价"    prop="amount"></el-table-column>
                    </el-table>
                </template>
            </el-table-column>
            <el-table-column prop="orderNo" label="订单号" width="200" >
                <template slot-scope="scope">
                    <a href="javascript:;" @click="twbOrderVm.erpOrderDetail(scope.row.orderNo)">{{scope.row.orderNo}}</a>
                </template>
            </el-table-column>


            <el-table-column prop="memberName" label="客户名称"></el-table-column>

            <el-table-column prop="payStatus" label="付款状态"  width="200"
              :filters="[{ text: '已支付', value: 1 }, { text: '未支付', value: 0 }]"
              filter-placement="bottom-end"  :filter-method="filterPayStatus"
            >
            <template slot-scope="scope">
                    <el-tag
                            :type="scope.row.payStatus ===0 ? 'primary' : 'success'"
                            disable-transitions>{{scope.row.payStatus==0?"未支付":"已支付"}}</el-tag>
            </template>
            </el-table-column>

            <el-table-column prop="totalAmount" label="订单金额"  width="100"></el-table-column>

            <el-table-column prop="pmtGoods" label="优惠金额"  width="100"></el-table-column>

            <el-table-column prop="payableAmount" label="应付金额"  width="100"></el-table-column>

            <el-table-column prop="payed" label="已支付金额"  width="100"></el-table-column>

            <el-table-column prop="payment" label="支付方式"  width="100"></el-table-column>

            <el-table-column prop="orderCreatetime" label="下单时间"></el-table-column>


        </el-table>

        <!--分页插件-->
        <div style="text-align: center;margin: 15px">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="page.currentPage"
                    :page-sizes="page.pageSizes"
                    :page-size="page.pageSize"
                    layout="total, sizes, prev, pager, next"
                    :total="page.total">
            </el-pagination>
        </div>

    </div>

    <!--添加订单dialog-->

    <el-dialog title="新增订单" :visible.sync="addVisible" fullScreen>

        <el-input placeholder="商品名称/条形码" size="small" clearable  v-model.trim="q.productKey" style="width:180px" @keyup.enter.native="queryGoods">
        </el-input>

        <el-button  type="primary" @click="queryGoods" plain size="small" icon="el-icon-search">查询</el-button>

        <el-table :data="goodsData" border style="margin-top: 10px" size="small">
            <el-table-column property="skuId" label="货品ID" width="150"></el-table-column>
            <el-table-column property="name" label="商品名称" width="150"></el-table-column>
            <el-table-column property="price" label="价格" width="150"></el-table-column>
            <el-table-column property="detailedinfo" label="商品详请"></el-table-column>
            <el-table-column label="图片"    prop="goodsImgUrl">
                <!-- 图片的显示 -->
                <template slot-scope="scope">
                    <el-popover
                            placement="right"
                            title=""
                            trigger="hover">
                        <img :src="scope.row.goodsImgUrl"/>
                        <img slot="reference" :src="scope.row.goodsImgUrl" :alt="scope.row.goodsImgUrl" style="max-height: 50px;max-width: 130px">
                    </el-popover>
                </template>
            </el-table-column>

            <el-table-column
                    fixed="right"
                    label="操作"
                    width="120">
                <template slot-scope="scope">
                    <el-button
                            @click="addProduct(scope.row)"
                            icon="el-icon-plus"
                            type="danger"
                            size="small">
                    </el-button>
                </template>
            </el-table-column>

        </el-table>

         <!--商品明细-->
        <div style="text-align:left;font-size: 20px">订单明细</div>
        <el-table :data="orderItemData" border style="margin-top: 10px" size="small">
            <el-table-column property="skuId" label="货品ID" width="150"></el-table-column>
            <el-table-column property="name" label="商品名称" width="150"></el-table-column>
            <el-table-column property="quantity" label="数量" width="150" >
                <template scope="scope">
                <el-input v-model="scope.row.quantity" @change="changeNums(scope.row,scope.$index)"  type="number" :min="1" size="small"></el-input>
                </template>
            </el-table-column>
            <el-table-column property="price" label="价格"></el-table-column>
            <el-table-column property="amount" label="商品总价">
            </el-table-column>
            <el-table-column property="detailedinfo" label="商品详请"></el-table-column>
            <el-table-column label="图片"  prop="goodsImgUrl">
                <!-- 图片的显示 -->
                <template slot-scope="scope">
                    <el-popover
                            placement="right"
                            title=""
                            trigger="hover">
                        <img :src="scope.row.goodsImgUrl"/>
                        <img slot="reference" :src="scope.row.goodsImgUrl" :alt="scope.row.goodsImgUrl" style="max-height: 50px;max-width: 130px">
                    </el-popover>
                </template>
            </el-table-column>
        </el-table>

        <span slot="footer" >
             <div style="margin: 10px;font-size: 20px;color:salmon">订单总金额：￥{{total}} 元</div>
             <el-button type="primary" size="small" icon="el-icon-sold-out" @click="save">提交订单</el-button>
          </span>
    </el-dialog>

</div>



<script src="${request.contextPath}/statics/js/modules/orderInfo/orderinfo.js?_${.now?long}"></script>
</body>
</html>