<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">

        <div class="grid-btn">
            <el-input style="width: 150px" v-model="q.code" size="small" placeholder="名称"></el-input>
			<#if shiro.hasPermission("ticket:ticket:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("ticket:ticket:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("ticket:ticket:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

        <el-dialog :title="title" :visible.sync="editVisible" :show-close="false">
            <el-form :model="ticket">
                <el-form-item label="代码" :label-width="formLabelWidth">
                    <el-input v-model="ticket.code" autocomplete="off" style="width:150px"></el-input>
                </el-form-item>
                <el-form-item label="推荐价" :label-width="formLabelWidth">
                     <el-input-number v-model="ticket.advicePrice" controls-position="right"  :min="1" :max="100"></el-input-number>元
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="editVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveOrUpdate">确 定</el-button>
            </div>
        </el-dialog>
</div>

<script src="${request.contextPath}/statics/js/modules/ticket/ticket.js?_${.now?long}"></script>
</body>
</html>