<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div style="margin-bottom: 5px">
            <el-form :inline="true" :model="q" class="demo-form-inline">
                <el-form-item label="名称">
                    <el-input v-model="q.name" size="small" placeholder="名称"></el-input>
                </el-form-item>
                <el-form-item label="代码">
                    <el-input v-model="q.code" size="small" placeholder="代码"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" icon="el-icon-search" @click="query" size="small">查询</el-button>
                    <el-button type="primary" icon="el-icon-edit" @click="update" size="small">修改</el-button>
                    <el-button type="primary" icon="el-icon-download" @click="downLoad" size="small">导出</el-button>
                </el-form-item>
            </el-form>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

   <!-- <el-dialog title="修改" :visible.sync="updateVisible" :show-close="false">
        <el-form :model="priceAdvice">
            <el-form-item label="代码" :label-width="formLabelWidth">
                <span>{{priceAdvice.code}}</span>
            </el-form-item>
            <el-form-item label="名称" :label-width="formLabelWidth">
                    <span>{{priceAdvice.name}}</span>
            </el-form-item>
            <el-form-item label="推荐价格" :label-width="formLabelWidth">
                <el-input v-model.number="priceAdvice.advicePrice" ></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="updateVisible =false">取 消</el-button>
            <el-button type="primary" @click="saveOrUpdate">确 定</el-button>
        </div>
    </el-dialog>-->
</div>

<script src="${request.contextPath}/statics/js/modules/priceAdvice/priceadvice.js?_${.now?long}"></script>
</body>
</html>